<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amit's Blog</title>
    <header>
        <h1 style="text-align:center">Wellcome in the world of web</h1>
    </header>
    <img style="padding-left:520px"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-1raKFrQBdniVDH7tW7mKwglYzW3ofV1CfA&usqp=CAU" alt="image">
    <h1 style="font-size:40px ; padding-left:530px">Amit rathore</h1>
    <div>
        <h2 style="font-size:50px">projects done:-</h2>
        <p>1. snake game</p>
        <p>2. pong game</p>
        <p>3. higher lower game</p>
    </div>

</head>
<body>
 <footer>
     <div style="padding:50px ; font-size:30px">
         <p>conatect details</p>
         <p>mobile no. 21574582</p>
         <p>email abc@gmail.com</p>


     </div>

 </footer>
</body>
</html>